
body {
	background-color: #000; padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	overflow: hidden;
	width: 100%; height: 100%;
	margin: 0;
}

html {
	width: 100%; height: 100%;
}

#workspace {
	position: absolute; 
	top: 0; left:0; bottom: 0; right: 0;
}

h1 {
	position: fixed; top: 50px; left: 50px; font-size: 90px;
	margin: 0;
	color: #ccc;
	color: #222;
}

h2 {
	position: fixed; top: 145px; left: 50px;
	height: 20px;
	color: #ccc;
	color: rgba(255, 255, 255, 0.4);
}

h3 {
	font-size: 18px;
	color: #bdc3c7;
	margin: 0;
}

h4 {
	font-size: 14px;
	color: #ddd;
	margin: 4px;
	overflow: hidden;
}

#workspace > div, .ide-panel { 
	min-height: 100px;
	border: 0;
	font-size: 16px;

	transition: height 0.2s, width 0.2s, left 0.2s, top 0.2s;
	position: absolute;
	box-sizing: border-box;
	overflow: auto;
}

#workspace > .ace_editor { overflow: hidden; }

.ide-panel {
	color: #eee; padding: 6px;
	outline: 0 solid #eee;
}

#projects > .project, .file {
	box-sizing: border-box;
	display: block;
	float: left;
	width: 33%; 
	font-size: 12px;
	border-style: solid;
	border-color: transparent;
	border-width: 0 8px 8px 0;
	transition: width 0.2s, opacity 0.2s;
}

.file {
	width: 100%;
	border-right: 0;
}

.ide-panel > h3 { margin: 4px 4px 8px 4px; }

#projects h4 { height: 18px; }

#projects .content, .file > .content {
	padding: 6px;
	background-color: rgba(41, 128, 185, 0.5);
	min-height: 200px; width: 100%;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	transition: background-color 0.2s;
	color: #eee;
	cursor: pointer;
}

.file > .content {
	min-height: 0;
}

#projects .content:hover {
	background-color: rgba(71, 158, 215, 0.9);
}

.file > .content {
	background-color: rgba(117, 117, 117, 0.5);
	border: 1px solid #424242;
}

.file > .content > img.primary { 
	float: left; margin-right: 14px;
	width: 32px; height: 32px;
}

.file > .content:hover {
	background-color: rgba(170, 170, 170, 0.5);
}

#projects .content:focus, .file > .content:focus {
	background-color: rgba(22, 160, 133, 0.7);
}

#projects {
	left: 50px; top: 200px;
	right: 42px; 
	font-size: 0;
	position: absolute;
	transition: opacity 0.2s;
	opacity: 0;
}

#project {
	background-color: rgb(41, 128, 185);
	background-color: rgba(41, 128, 185, 0.8);
}

#command, #search, #evaluate { 
	display: none; position: fixed; 
	left: 0; bottom: 0; right: 0; color: #eee;
	width: 100%; height: 24px; border: 0; 
	background-color: rgb(44, 62, 80);
	background-color: rgba(44, 62, 80, 0.7);
	z-index: 10; outline: none; font-family: monospace;
	border-radius: 0;
	font-size: 16px;
	padding: 1px 0;
}

#search { 
	background-color: rgb(142, 68, 173);
	background-color: rgba(142, 68, 173, 0.7);
}

#info { 
	position: absolute; 
	display: none;
	background-color: rgb(44, 62, 80);
	background-color: rgba(84, 84, 84, 0.8);
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	z-index: 30;
	padding: 6px;
}

#info:hover {
	display: block !important; opacity: 1 !important;
}

#mask { 
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	font: 20px Verdana;
	color: #eee; text-align: center; line-height: 100%;
	z-index: 20;
}

/* NOTIFICATIONS */
#ide-notification { 
	position: fixed; top: 10px; left: 10px; 
	right: 10px; overflow: visible; z-index: 9000;
	text-align: right;
}

#ide-notification > div, .ide-popup {
	display: block; padding: 8px;
	min-width: 200px; float: right;
	border-radius: 2px; margin-bottom: 4px;
	clear: both;
}

.ide-info { background-color: rgba(52, 152, 219, 0.8); color: #eee;}
.ide-error { background-color: rgba(231, 76, 60, 0.8); color: #eee;}
.ide-warn{ background-color: rgba(241, 196, 15, 0.8); color: #333; }

@media (min-width: 980px) {
	
	#projects > .project {
		width: 25%;
	}
	
}

@media (max-width: 800px) {
	#projects > .project {
		width: 50%;
	}
}

@media (max-width: 500px) {
	
	#projects > .project {
		width: 100%;
	}
}


.label {
	font-size: 10px; border-radius: 2px; 
	background-color: #999; color: #000;
	padding: 4px; margin: 0 2px;
	font-weight: bold;
}

.label-success {
	background-color: #5cb85c;
}

.ide-select {
	position: absolute;
	z-index: 999;
	border: 0;
	color: #eee;
	font: inherit;
	list-style: none;
	padding: 0; margin: 0;
	overflow: hidden;
	pointer-events: auto;
	cursor: default;
}

.ide-select .label { position: relative; top: -3px; }

#projects .label {
	float: right;
}

.ide-select button {
	margin: 2px; padding: 4px 8px;
	border: 0;
	color: #eee;
	font: inherit;
	background-color: rgba(44, 62, 80, 0.8);
	transition: background-color 0.2s;
	cursor: pointer;
}

.ide-select button:hover {
	background-color: rgba(52, 152, 219,0.9);	
}

.ide-live iframe {
	border: 0; margin: 0; padding: 0; width: 100%; height: 100%;	
	display: block;
	border-top: 24px solid transparent;
	box-sizing: border-box;
	position: absolute;
	top: 0; left: 0;
}

.ide-live input {
	color: #eee;
	width: 100%; height: 24px; border: 0; margin: 0;
	background-color: rgb(44, 62, 80);
	background-color: rgba(44, 62, 80, 0.7);
	z-index: 5;
	position: absolute; top: 0;
}

#workspace > div:nth-child(1) { background-color: #141414; }
#workspace > div:nth-child(2) { background-color: #263238; }
#workspace > div:nth-child(3) { background-color: #002010; }
#workspace > div:nth-child(4) { background-color: #002024; }
#workspace > div:nth-child(5) { background-color: #010062; }

.ace-twilight .ace_gutter { background-color: rgba(35,35,35,0.6) !important; }

pre {
	text-align: left; padding: 6px 10px 6px 6px;
	background-color: rgba(0,0,0,0.5); margin: 6px 0 0 0;
}

.ace-twilight .ace_comment { color: #aaa !important; }
.ace_scrollbar-v { display: none; }

.ide-focus {
	animation-duration: 0.5s;
	animation-name: focus;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: focus;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: focus;
}

@keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-webkit-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-moz-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}
