/*
 * core
 */
body {
	background-color: #000; padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	overflow: hidden;
	width: 100%; height: 100%;
	margin: 0;
}

html {
	width: 100%; height: 100%;
}

h1 { font-size: 90px; letter-spacing: 4px; font-weight: 100; margin: 0 0 50px 0; opacity: 0.9; }

small { font-size: 0.7em; opacity: 0.8; letter-spacing: normal; }

h1 > small { font-size: 20px; }

h2 {
	position: fixed; bottom: 50px; left: 50px;
	font-size: 24px;
	font-weight: normal;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

h3 {
	font-size: 18px;
	font-weight: 200;
	color: #bdc3c7;
	margin: 4px 0px 8px 0px;
}

a, button {
	transition: background-color 0.2s, color 0.2s, opacity 0.2s,
		-webkit-filter 0.2s, filter 0.2s;
}

pre {
	text-align: left; padding: 6px 10px 6px 6px;
	background-color: rgba(0,0,0,0.5); margin: 6px 0 0 0;
}

#notification { 
	position: fixed; top: 10px; right: 10px; z-index: 9000;
	list-style: none; text-align: right;
}

#notification .hint { display: inline-block; }


.label, kbd {
	border-radius: 2px; 
	color: #eee; 
	font-weight: normal; 
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

.label {
	font-size: 10px; 
	padding: 1px 4px; margin: 0 2px 0 0;
	line-height: 10px;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.3);
}

kbd {
	background-color: #333;
	border-radius: 4px;
	padding: 2px 4px;
}

.label-success {
	background-color: #5cb85c;
}

.pull-right { float: right; }
.text-right { text-align: right; }

/*
 * core.workspace
 */
#workspace {
	position: absolute; 
	top: 0; left:0; bottom: 0; right: 0;
	transition: right 0.2s;
}

#workspace > div { 
	min-height: 100px;
	border: 0;
	color: #eee; 

	transition: height 0.2s, width 0.2s, left 0.2s, top 0.2s;
	position: absolute;
	box-sizing: border-box;
}

.panel {
	padding: 12px;
	outline: 0 solid #eee;
	overflow: hidden;
	width: 100%; height: 100%;
	box-sizing: border-box;
}

.focus {
	animation-duration: 0.5s;
	animation-name: focus;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: focus;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: focus;
}

@keyframes hover {
	0% { filter: brightness(100%); -webkit-filter: brightness(100%); -moz-filter: brightness(100%); }
	100% { filter: brightness(130%); -webkit-filter: brightness(130%); -moz-filter: brightness(130%); }
}

@keyframes focus {
	10% { filter: brightness(150%); -webkit-filter: brightness(150%); -moz-filter: brightness(150%); }
	100% { filter: brightness(100%); -webkit-filter: brightness(100%); -moz-filter: brightness(100%); }
}

@-webkit-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-moz-keyframes focus {
	10% { -moz-filter: brightness(150%); }
	100% { -moz-filter: brightness(100%); }
}

/*
 * core.bar
 */
.command-bar { 
	display: none; position: fixed; 
	left: 0; bottom: 0; right: 0; color: #eee;
	width: 100%; height: 24px; border: 0; 
	z-index: 10; outline: none; font-family: monospace;
	border-radius: 0;
	padding: 1px 0;
}

#search { 
	background-color: rgb(142, 68, 173);
	background-color: rgba(142, 68, 173, 0.7);
}

/*
 *
 * core.source.js - hints
 *
 */
.editor-hint-gutter { width: 100%; position: absolute; left: 0; }
.editor-hint { width: 100%; opacity: 0.5; }

.editor-hint:first-child:nth-last-child(2),
.editor-hint:first-child:nth-last-child(2) ~ div { width: 50%; }
.editor-hint:first-child:nth-last-child(2) ~ div { left: 50%; }

.editor-hint:first-child:nth-last-child(3),
.editor-hint:first-child:nth-last-child(3) ~ div { width: 33.3%; }

.editor-hint:first-child:nth-last-child(4),
.editor-hint:first-child:nth-last-child(4) ~ div { width: 25%;}

.CodeMirror {
	text-rendering: optimizeLegibility;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;

	overflow: hidden !important;
}

.CodeMirror-scroll {
	margin-bottom: 0;
}

.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
	background-color: rgba(255, 0, 0, 0.5);
	border-left: 0 !important;
}

.CodeMirror-gutters {
	border-right: 0 !important;
}
.CodeMirror-gutter-elt { overflow-y: hidden; }

div.CodeMirror-cursors { visibility: visible; }

/*
 *
 * core.folder.js
 * 
 */
.icon {
	display: inline-block; margin: 0;
	padding-top: 2px; color: #eee;
	text-decoration: none;
	margin-left: 4px;
}

.icon:hover { color: #fff; }
.icon:focus { color: #fff; outline: 1px solid #ccc; }

.item {
	box-sizing: border-box;
	transition: width 0.2s, opacity 0.2s, background-color 0.2s;
	padding: 2px 4px;
	margin-bottom: 6px;
	display: block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9); width: 100%;
	text-align: left;
	border: 1px solid rgba(0, 100, 159, 1);
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 1px rgba(0, 100, 159, 0.5);
	background-color: rgba(0, 100, 159, 0.5);
}
.item:hover, .item.selected { background-color: rgba(0, 100, 159, 0.9); }

.item pre { white-space: pre-wrap; }
.item kbd {
	float: right; font-size: 12px;
}
.item code {
	margin-bottom: 2px; display: block;
	font-size: 10px; text-transform: uppercase;
}
.item h4 {
	font-size: inherit; font-weight: normal;
	margin: 0; padding: 2px 0;
	word-wrap: break-word;
}
.item footer { margin-top: 4px; }
.item-collapsed .item-detail { display: none; }

.success {
	border-color: rgb(76, 181, 60);
	background-color: rgba(76, 181, 60, 0.7);
	box-shadow: 0px 0px 2px 2px rgba(76, 181, 60, 0.5);
}

.item.error, .error {
	border-color: rgb(231, 76, 60);
	background-color: rgba(231, 76, 60, 0.7);
	box-shadow: 0px 0px 2px 2px rgba(231, 76, 60, 0.5);
}
.error:hover { background-color: rgba(231, 76, 60, 0.9); }
.item.warn, .warn {
	border-color: rgb(241, 196, 15);
	background-color: rgba(241, 196, 15, 0.6);
	box-shadow: 0px 0px 2px 2px rgba(241, 198, 15, 0.4);
}
.warn:hover { background-color: rgba(241, 196, 15, 0.9); }

.item > img.primary { 
	float: left; margin-right: 14px;
	width: 32px; height: 32px;
}

.directory h4::after {
	content: '/';	
}

/*
 *
 * core.welcome.js
 *
 */
.project {
	background-color: rgba(41, 128, 185, 0.8);
}
.project:hover {
	background-color: rgba(71, 158, 215, 0.9);
}

#welcome { 
	position: fixed; top: 50px; left: 50px; color: #999;
	transition: opacity 0.2s; opacity: 0;
}

/*
 *
 * core.assist.js
 *
 */
#assist {
	display: none; position: fixed; right: 0; width: 0;
	transition: width 0.2s; padding: 8px; box-sizing: border-box;
	overflow-y: hidden; bottom: 0; top: 0;
}
#assist.assist-show { display: block; width: 300px; }
#workspace.assist-show { right: 300px; }

#assist > ul { position: static; padding: 0; margin: 0; }
#assist-inline {
	position: absolute; z-index: 10;
	max-height: 130px; overflow-y: hidden; margin-left: -4px;
}
#assist-inline .item {
	border: 0; margin-bottom: 2px; box-shadow: none;
}
#assist-inline .item code, .item .label { display: none; }
#assist-inline .item h4 { overflow-y: hidden; }

/*
 * Forms
 */
fieldset { border: 0; padding: 20px; }
legend { font-size: 24px; }
label { display: block; font-size: 10px; }
form input { 
	border: 0; background-color: transparent;
	border-bottom: 1px solid #ddd;
	width: 100%; color: #eee;
	padding: 8px 0 8px 0;
	margin-bottom: 8px; font-size: 12px;
	line-height: 16px;
	transition: box-shadow 0.2s, border-color 0.2s;
}

form input:focus {
	box-shadow: 0 1px #ccc;
	border-bottom: 1px solid #fff;
	outline: none;
}

form button {
	background-color: rgba(52, 152, 219, 0.5);
	border: 1px solid #424242; border-radius: 2px;
	color: #eee; padding: 8px 16px; line-height: 18px;
	cursor: pointer; font-size: 14px;
}

form button:hover { background-color: rgba(52, 152, 219, 0.8); }

form button { margin: 8px; }
form button:first-child { margin-left: 0; }
form button:last-child { margin-right: 0; }

/*
 * Layout
 */
.layout-vertical-middle {
	top: 50%; transform: translate(0, -50%);
	position: absolute;
}

.col-offset-3 { margin-left: 30%; }
.col-offset-2 { margin-left: 20%; }
.col-offset-1 { margin-left: 10%; }

.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }
