
body {
	background-color: #000; padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	overflow: hidden;
	width: 100%; height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	width: 100%; height: 100%;
}

h1 { font-size: 90px; letter-spacing: 4px; font-weight: 100; margin: 0 0 30px 0; opacity: 0.9; }

small { font-size: 0.7em; opacity: 0.8; letter-spacing: normal; }

h1 > small { font-size: 20px; }

h2 {
	position: fixed; bottom: 50px; left: 50px;
	font-size: 24px;
	font-weight: normal;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

h3 {
	font-size: 18px;
	color: #bdc3c7;
	margin: 4px 0px 8px 0px;
}

h4 {
	font-size: 14px;
	color: #ddd;
	margin: 4px;
	overflow: hidden;
}

kbd { background-color: #666; border-radius: 4px; color: #eee; padding: 4px 8px; }
button { transition: background-color 0.2s; }

#workspace {
	position: absolute; 
	top: 0; left:0; bottom: 0; right: 0;
	transition: right 0.2s;
}

#workspace > div, .ide-panel { 
	min-height: 100px;
	border: 0;
	font-size: 16px;

	transition: height 0.2s, width 0.2s, left 0.2s, top 0.2s;
	position: absolute;
	box-sizing: border-box;
	overflow: auto;
}

.ide-panel {
	color: #eee; padding: 12px;
	outline: 0 solid #eee;
}


#command, #search { 
	display: none; position: fixed; 
	left: 0; bottom: 0; right: 0; color: #eee;
	width: 100%; height: 24px; border: 0; 
	z-index: 10; outline: none; font-family: monospace;
	border-radius: 0;
	font-size: 16px;
	padding: 1px 0;
}

#search { 
	background-color: rgb(142, 68, 173);
	background-color: rgba(142, 68, 173, 0.7);
}

.ide-info { 
	position: absolute; 
	left: 0; right: 0;
	display: none;
	background-color: rgb(44, 62, 80);
	background-color: rgba(84, 84, 84, 0.8);
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	z-index: 30;
	padding: 6px;
	transition: opacity 0.3s;
}

.ide-info:hover {
	display: block !important; opacity: 1 !important;
	font-size: 16px;
}

/* NOTIFICATIONS */
#ide-notification { 
	position: fixed; top: 10px; right: 10px; z-index: 9000;
	list-style: none; text-align: right;
}

.ide-notification { display: inline-block; padding: 8px; margin-bottom: 4px; }
.ide-log { background-color: rgba(52, 152, 219, 0.8); color: #eee;}
.ide-error { background-color: rgba(231, 76, 60, 0.8); color: #eee;}
.ide-warn{ background-color: rgba(241, 196, 15, 0.8); color: #333; }

.label {
	font-size: 10px; border-radius: 2px; 
	background-color: #666; color: #eee;
	padding: 4px; margin: 0 2px;
	font-weight: bold;
}

.label-success {
	background-color: #5cb85c;
}

.ide-select {
	position: absolute;
	z-index: 999;
	border: 0;
	color: #eee;
	font: inherit;
	list-style: none;
	padding: 0; margin: 0;
	overflow: hidden;
	pointer-events: auto;
	cursor: default;
}

.ide-select .label { position: relative; top: -3px; }

.ide-select button {
	margin: 2px; padding: 4px 8px;
	border: 0;
	color: #eee;
	font: inherit;
	background-color: rgba(44, 62, 80, 0.8);
	transition: background-color 0.2s;
	cursor: pointer;
}

.ide-select button:hover {
	background-color: rgba(52, 152, 219,0.9);	
}

pre {
	text-align: left; padding: 6px 10px 6px 6px;
	background-color: rgba(0,0,0,0.5); margin: 6px 0 0 0;
}

.ide-focus {
	animation-duration: 0.5s;
	animation-name: focus;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: focus;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: focus;
}

@keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-webkit-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-moz-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

.CodeMirror {
	text-rendering: optimizeLegibility;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;

	overflow: hidden !important;
}

.CodeMirror-scroll {
	margin-bottom: 0;
}

.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
	background-color: rgba(255, 0, 0, 0.5);
	border-left: 0 !important;
}

.CodeMirror-gutters {
	border-right: 0 !important;
}

div.CodeMirror-cursors { visibility: visible; }

/*
 * LAYOUT
 */
.pull-right { float: right; }

/*
 *
 * core.source.js - hints
 *
 */
.ide-editor-hint { width: 100%; position: absolute; left: 0; }
.ide-hint { position: absolute; width: 100%; height: 100%; }

/*
 *
 * core.folder.js
 * 
 */

.file {
	box-sizing: border-box;
	font-size: 12px;
	border-style: solid;
	border-color: transparent;
	border-width: 0 8px 8px 0;
	transition: width 0.2s, opacity 0.2s;
	width: 100%;
	border-right: 0;
}

.file pre { white-space: pre-wrap; }
.filelist-content { padding-top: 8px; overflow: hidden; }

.file > .content {
	padding: 6px;
	width: 100%;
	min-height: 0;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	transition: background-color 0.2s;
	color: #eee;
	cursor: pointer;
	text-align: left;
	background-color: rgba(117, 117, 117, 0.5);
	border: 1px solid #424242;
}

.file > .content > img.primary { 
	float: left; margin-right: 14px;
	width: 32px; height: 32px;
}

.file > .content:hover {
	background-color: rgba(170, 170, 170, 0.5);
}

.directory h4::after {
	content: '/';	
}

/*
 *
 * core.welcome.js
 *
 */
.project > .content:focus, .file > .content:focus {
	background-color: rgba(22, 160, 133, 0.7);
}
.project > .content:hover {
	background-color: rgba(71, 158, 215, 0.9);
}
.project > .content {
	background-color: rgb(41, 128, 185);
	background-color: rgba(41, 128, 185, 0.8);
}
.project .link {
	display: inline-block; margin: 0 2px; padding-top: 4px; color: #ccc;
}
.project .link:hover { color: #fff; }
.project .link:focus { color: #fff; outline: 1px solid #ccc; }

#welcome { 
	position: fixed; top: 50px; left: 50px; color: #999;
	transition: opacity 0.2s; opacity: 0;
}

/*
 *
 * core.assist.js
 *
 */
#assist {
	display: none; position: fixed; right: 0; width: 0;
	transition: width 0.2s; padding: 8px; box-sizing: border-box;
	overflow-y: hidden; bottom: 0; top: 0;
}
#assist.ide-assist-show { display: block; width: 300px; }
#workspace.ide-assist-show { right: 300px; }

#assist .link { color: #eee; opacity: 0.7; text-decoration: none; }
#assist .link:hover { opacity: 1; }
#assist .ide-assist-hint {
	border: 0; padding: 8px; display: block; margin-bottom: 4px;
	width: 100%; text-align: left; cursor: pointer;
}
#assist .ide-assist-hint:hover { background-color: rgba(71, 158, 215, 0.9); }

#assist code { margin-right: 10px; }
#assist kbd { float: right; }


