@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
}

/*
 * core
 */
body {
	background-color: #000; padding: 0;
	font-family: Verdana, sans-serif;
	overflow: hidden;
	font-size: 16px;
	width: 100%; height: 100%;
}

html {
	width: 100%; height: 100%;
}

h1 { font-size: 90px; letter-spacing: 4px; font-weight: 100; margin: 0 0 50px 0; opacity: 0.9; }

small { font-size: 12px; opacity: 0.8; letter-spacing: normal; }

h1 > small { font-size: 20px; }

h2 {
	position: fixed; bottom: 50px; left: 50px;
	font-size: 24px;
	font-weight: normal;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

h3 {
	font-size: 18px;
	font-weight: 200;
	color: #bdc3c7;
	margin: 4px 0px 8px 0px;
}

a, button {
	transition: background-color 0.2s, color 0.2s, opacity 0.2s,
		-webkit-filter 0.2s, filter 0.2s;
}

pre {
	text-align: left; padding: 6px 10px 6px 6px;
	background-color: rgba(0,0,0,0.5); margin: 6px 0 0 0;
}

#notification { 
	position: fixed; top: 10px; right: 10px; z-index: 9000;
	list-style: none; text-align: right;
}

#notification .hint { display: inline-block; }


ide-tag, .label, kbd {
	border-radius: 2px; 
	color: #eee; 
	font-weight: normal; 
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

.label, ide-tag {
	font-size: 10px; 
	padding: 1px 4px; margin: 0 2px 0 0;
	line-height: 10px;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.3);
	display: inline-block;
}

.label-transparent { background-color: transparent; }

kbd {
	background-color: #333;
	border-radius: 4px;
	padding: 2px 4px;
}

.pull-right { float: right; }
.text-right { text-align: right; }
.hidden { display: none; }

/*
 * core.workspace
 */
#workspace {
	position: absolute; 
	top: 0; left:0; bottom: 0; right: 0;
	transition: right 0.2s;
}

#workspace > div { 
	min-height: 100px;
	border: 0;
	color: #eee; 

	transition: height 0.2s, width 0.2s, left 0.2s, top 0.2s;
	position: absolute;
	box-sizing: border-box;
}

.panel {
	padding: 12px;
	outline: 0 solid #eee;
	overflow: hidden;
	width: 100%; height: 100%;
	box-sizing: border-box;
}

ide-editor-content {
	position: absolute; top: 24px; left: 0; right: 0; bottom: 0;
	overflow: hidden; height: auto; display: block;
}

.focus ide-editor-header {
	background-color: rgba(255,255,255,0.2); color: rgba(255,255,255,0.95);
}

ide-editor-header > .close {
	padding-top: 0; color: rgba(255,255,255,0.5);
	float: right; cursor: pointer; margin-left: 8px;
}
ide-editor-header > .close:before {
	font-family: FontAwesome; content: "\f00d";
}
ide-editor-header > .close:hover { color: rgba(255,255,255,0.9); }
ide-editor-header > .tags { margin-top: -2px; float: right; box-shadow: none; }
ide-editor-header {
	line-height: 24px; display: block;
	overflow: hidden; white-space: nowrap; margin: 0; padding: 0 8px;
	font-size: 16px; color: rgba(255,255,255,0.7);
}
ide-editor-header > .modified:before { /*content: "\f067";*/ content: "+"; }

.list ide-editor-content { padding: 8px; }

.focus {
	animation-duration: 0.5s;
	animation-name: focus;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: focus;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: focus;
}

@keyframes hover {
	0% { filter: brightness(100%); -webkit-filter: brightness(100%); -moz-filter: brightness(100%); }
	100% { filter: brightness(130%); -webkit-filter: brightness(130%); -moz-filter: brightness(130%); }
}

@keyframes focus {
	10% { filter: brightness(150%); -webkit-filter: brightness(150%); -moz-filter: brightness(150%); }
	100% { filter: brightness(100%); -webkit-filter: brightness(100%); -moz-filter: brightness(100%); }
}

@-webkit-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-moz-keyframes focus {
	10% { -moz-filter: brightness(150%); }
	100% { -moz-filter: brightness(100%); }
}

/*
 * core.bar
 */
.command-bar { 
	display: none; position: absolute; 
	left: 0; bottom: 0; right: 0; color: #eee;
	z-index: 10; height: 26px;
	border-radius: 0; 
}

.command-bar > input, .command-bar-width {
	border: 0; background-color: transparent;
	position: absolute; left: 0; top: 0;
	display: block; width: 100%;
	padding: 2px 0 2px 28px; line-height: 22px; outline: none; 
	font-family: monospace; font-size: 16px;
	color: #eee;
}

.command-bar-width {
	display: inline-block; top: -100px; right: auto; width: auto;
}
.command-bar:before {
	font-family: FontAwesome;
	margin-left: 4px; line-height: 26px;
	opacity: 0.75;
}

#command:before { content: '\f120'; }
#search { background-color: rgba(142, 68, 173, 0.7); }
#search:before { content: '\f002'; }

/*
 *
 * core.source.js - hints
 *
 */
.editor-hint-gutter { width: 100%; position: absolute; left: 0; }
.editor-hint { width: 100%; opacity: 0.5; display: inline-block; box-shadow: none !important; }

.editor-hint:first-child:nth-last-child(2),
.editor-hint:first-child:nth-last-child(2) ~ div { width: 50%; }

.editor-hint:first-child:nth-last-child(3),
.editor-hint:first-child:nth-last-child(3) ~ div { width: 33.3%; }

.editor-hint:first-child:nth-last-child(4),
.editor-hint:first-child:nth-last-child(4) ~ div { width: 25%;}

.CodeMirror {
	text-rendering: optimizeLegibility;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
	position: absolute;
	height: auto;
	overflow: hidden !important;
	background-color: transparent !important;
}

.CodeMirror-scroll {
	margin-bottom: 0;
}

.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
	background-color: rgba(255, 0, 0, 0.5);
	border-left: 0 !important;
}

.CodeMirror-gutters {
	border-right: 0 !important;
}
.CodeMirror-gutter-elt { overflow-y: hidden; }


.focus div.CodeMirror-cursors { visibility: visible; }
div.CodeMirror-cursors { visibility: hidden; }

/*
 *
 * core.folder.js
 * 
 */
ide-icon, .ide-icon {
	display: inline-block; margin: 0;
	font-family: FontAwesome;
	color: #eee;
	fill:#eee;
	text-decoration: none;
}

svg.ide-icon { float:left; }

ide-icon:hover, .ide-icon:hover { color: #fff; }
ide-icon:focus, .ide-icon:focus { color: #fff; outline: 1px solid #ccc; }

/* TODO */
ide-icon.variable::before { content: "\f1b2"; }
ide-icon.variable-global::before { content: "G"; }
ide-icon.command::before { content: "\f120"; }
ide-icon.property::before { content: "P"; }
ide-icon.keyword::before { content: "K"; }
ide-icon.directory::before { content: "\f114"; }
ide-icon.file::before { content: "\f016"; }
ide-icon.git::before { content: "\f1d3"; }
ide-icon.cog::before { content: "\f013"; }

.item {
	box-sizing: border-box;
	transition: width 0.2s, opacity 0.2s, background-color 0.2s;
	padding: 2px 4px;
	margin-bottom: 6px;
	display: block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9); width: 100%;
	text-align: left;
	border: 1px solid rgba(0, 100, 159, 1);
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 1px rgba(0, 100, 159, 0.5);
	background-color: rgba(0, 100, 159, 0.5);
}
.item:hover, .item.selected { background-color: rgba(0, 100, 159, 0.9); }
.item .label { margin: 0 0 0 2px; }

.item pre { white-space: pre-wrap; }
.item kbd { float: right; }
.item > ide-icon, .item > .ide-icon {
	margin: 0 8px 0 4px;
	width: 16px; height: 18px;
}
.item .icons { float: right; }
.item ide-item-description {
	margin-top: 2px; display: block; padding: 4px; background: #333;
	font-size: 14px;
}

ide-item-tags { float: right; font-size: 0; }
ide-item-title {
	clear: both;
	font-size: inherit; font-weight: normal;
	margin: 0; padding: 0; line-height: 18px;
	word-wrap: break-word; display: inline-block;
	word-break: break-word;
}
ide-item-title b { color: #fff; }

.item code {
	margin-bottom: 2px; display: block;
	font-size: 10px; text-transform: uppercase;
}
.item footer { margin-top: 4px; }
.item-collapsed .item-detail { display: none; }

.text-error { color: #e91111; }
.text-success { color: rgb(76, 181, 60); }
.text-warn { color: rgb(241, 196, 15); }

.success {
	border-color: rgb(76, 181, 60);
	background-color: rgba(76, 181, 60, 0.7);
	box-shadow: 0px 0px 2px 2px rgba(76, 181, 60, 0.5);
}

.item.error, .error {
	border-color: rgb(231, 76, 60);
	background-color: rgba(231, 76, 60, 0.7);
	box-shadow: 0px 0px 2px 2px rgba(231, 76, 60, 0.5);
}
.error:hover { background-color: rgba(231, 76, 60, 0.9); }
.item.warn, .warn {
	border-color: rgb(241, 196, 15);
	background-color: rgba(241, 196, 15, 0.6);
	box-shadow: 0px 0px 2px 2px rgba(241, 198, 15, 0.4);
}
.warn:hover { background-color: rgba(241, 196, 15, 0.9); }

.item > img.primary { 
	float: left; margin-right: 14px;
	width: 32px; height: 32px;
}

.directory h4::after { content: '/'; }

/*
 *
 * core.welcome.js
 *
 */
.project { background-color: rgba(41, 128, 185, 0.8); }
.project:hover { background-color: rgba(71, 158, 215, 0.9); }

#welcome { 
	position: fixed; top: 50px; left: 50px; color: #999;
	transition: opacity 0.2s; opacity: 0;
}

/*
 *
 * core.assist.js
 *
 */
#assist {
	display: none; position: fixed; right: 0; width: 0;
	transition: width 0.2s; padding: 8px; box-sizing: border-box;
	overflow-y: hidden; bottom: 0; top: 0;
}
#assist.assist-show { display: block; width: 300px; }
#workspace.assist-show { right: 300px; }

#assist > ul { position: static; padding: 0; margin: 0; }
#assist-inline {
	left:-32px; top:0; position: absolute; z-index: 10; max-height: 120px; overflow-y: auto;
	font-family: monospace;
}
#assist-inline .item {
	border: 0; margin-bottom: 2px; box-shadow: none;
}
#assist-inline .item code, #assist-inline .item .label,
#assist-inline kbd { display: none; }

#assist-inline ide-item-description {
	display: inline; font-style: italic; font-size: 13px; margin: 0 0 0 16px;
	background: none;
}
#assist-inline .item h4 { overflow: visible; white-space: nowrap; display: inline-block; }

/*
 * Forms
 */
fieldset { border: 0; padding: 20px; }
legend { font-size: 24px; }
label { display: block; font-size: 10px; }
form input { 
	border: 0; background-color: transparent;
	border-bottom: 1px solid #ddd;
	width: 100%; color: #eee;
	padding: 8px 0 8px 0;
	margin-bottom: 8px; font-size: 12px;
	line-height: 16px;
	transition: box-shadow 0.2s, border-color 0.2s;
}

form input:focus {
	box-shadow: 0 1px #ccc;
	border-bottom: 1px solid #fff;
	outline: none;
}

button {
	background-color: rgba(52, 152, 219, 0.5);
	border: 1px solid #424242; border-radius: 2px;
	color: #eee; padding: 4px 4px; line-height: 18px;
	cursor: pointer; font-size: 12px;
	text-transform: uppercase;
}

button:hover { background-color: rgba(52, 152, 219, 0.8); }

ide-item-footer { margin-top: 8px; display: block; }

/*
 * Layout
 */
.layout-vertical-middle {
	top: 50%; transform: translate(0, -50%);
	position: absolute;
}

.col-offset-3 { margin-left: 30%; }
.col-offset-2 { margin-left: 20%; }
.col-offset-1 { margin-left: 10%; }

.col-3 { width: 30%; }
.col-4 { width: 40%; }
.col-5 { width: 50%; }
.col-6 { width: 60%; }

/*
 * cxl-ui styles
 */
cxl-button, cxl-submit { font-size: 12px; line-height: 14px; }
