
body {
	background-color: #7F8C8D; padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

#workspace {
	position: absolute; 
	top: 0; left:0; bottom: 0; right: 0;
}

h1 {
	position: fixed; top: 50px; left: 50px; font-size: 90px;
	margin: 0;
	color: #ccc;
	color: rgba(255, 255, 255, 0.4);
}

h2 {
	position: fixed; top: 145px; left: 50px;
	color: #ccc;
	color: rgba(255, 255, 255, 0.4);
}

h3 {
	font-size: 18px;
	color: #bdc3c7;
	margin: 0;
}

#workspace > div, .ide-panel { 
	min-height: 100px; border: 3px solid transparent;
	font-size: 16px;

	transition: height 0.2s, width 0.2s, left 0.2s, top 0.2s;
	position: absolute;
	box-sizing: border-box;
}

.ide-panel {
	background-color: rgb(44, 62, 80);
	background-color: rgba(44,62, 80, 0.8);
	color: #eee; padding: 6px;
}

#projects > .project {
	box-sizing: border-box;
	display: block;
	float: left;
	width: 33%; height: 200px;
	font-size: 12px;
	border-style: solid;
	border-color: transparent;
	border-width: 0 8px 8px 0;
	transition: width 0.5s;
}

#projects .content {
	padding: 10px;
	background-color: rgba(41, 128, 185, 0.9);
	height: 100%; width: 100%;
	border: 1px solid rgb(52, 152, 219);
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	transition: background-color 0.5s;
	color: #eee;
}

#projects .content:hover {
	background-color: rgba(52, 152, 219,0.9);	
}

#projects {
	left: 50px; top: 200px;
	right: 42px; 
	font-size: 0;
	position: absolute;
}

#project {
	background-color: rgb(41, 128, 185);
	background-color: rgba(41, 128, 185, 0.8);
}

#command, #search, #evaluate { 
	display: none; position: absolute; 
	left: 0; bottom: 0; right: 0; color: #eee;
	width: 100%; height: 24px; border: 0; 
	background-color: rgb(44, 62, 80);
	background-color: rgba(44, 62, 80, 0.7);
	z-index: 10; outline: none; font-family: monospace;
	border-radius: 0;
	padding: 1px 0;
}

#search { 
	background-color: rgb(142, 68, 173);
	background-color: rgba(142, 68, 173, 0.7);
}
#evaluate {
	background-color: rgb(22, 160, 133);
	background-color: rgba(22, 160, 133, 0.7);
}

#info { 
	position: absolute; top: 10px; left: 10px;
	display: none;
	background-color: rgb(52, 152, 219);
	background-color: rgba(52, 152, 219, 0.9);
	color: white;
	transition: opacity 0.1s; z-index: 30;
}

#mask { 
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	font: 20px Verdana;
	color: #eee; text-align: center; line-height: 100%;
	z-index: 20;
}

/* NOTIFICATIONS */
#ide-notification { 
	position: fixed; top: 10px; right: 10px; overflow: visible; width: 300px; z-index: 9000;
	text-align: right;
}

#ide-notification > div, .ide-popup {
	display: none; padding: 8px;
	min-width: 200px; display: inline-block;
	border-radius: 8px;
}

.ide-info { background-color: rgba(52, 152, 219, 0.8); }
.ide-error { background-color: rgba(231, 76, 60, 0.8); }
.ide-alert { background-color: rgba(241, 196, 15, 0.8); color: #333; }

/* EDITOR STYLES */
.ace_gutter { border-radius: 8px 0 0 8px; }
.ace_scrollbar { border-radius: 0 8px 8px 0; }

@media (min-width: 980px) {
	
	#projects > .project {
		width: 25%;
	}
	
}

@media (max-width: 800px) {
	#projects > .project {
		width: 50%;
	}
}

@media (max-width: 500px) {
	
	#projects > .project {
		width: 100%;
	}
}

.label {
	font-size: 10px; border-radius: 4px; 
	background-color: #999; color: #fff;
	padding: 4px; float: right; margin: 0 2px;
}

.label-success {
	background-color: #5cb85c;
}