/*
 * core
 */
body {
	background-color: #000; padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	overflow: hidden;
	width: 100%; height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	width: 100%; height: 100%;
}

h1 { font-size: 90px; letter-spacing: 4px; font-weight: 100; margin: 0 0 50px 0; opacity: 0.9; }

small { font-size: 0.7em; opacity: 0.8; letter-spacing: normal; }

h1 > small { font-size: 20px; }

h2 {
	position: fixed; bottom: 50px; left: 50px;
	font-size: 24px;
	font-weight: normal;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

h3 {
	font-size: 18px;
	font-weight: 200;
	color: #bdc3c7;
	margin: 4px 0px 8px 0px;
}

kbd { background-color: #666; border-radius: 4px; color: #eee; padding: 4px 8px; }
a, button {
	transition: background-color 0.2s, color 0.2s, opacity 0.2s,
		-webkit-filter 0.2s, filter 0.2s;
}

pre {
	text-align: left; padding: 6px 10px 6px 6px;
	background-color: rgba(0,0,0,0.5); margin: 6px 0 0 0;
}

.info { 
	position: absolute; 
	left: 0; right: 0;
	display: none;
	background-color: rgb(44, 62, 80);
	background-color: rgba(84, 84, 84, 0.8);
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	z-index: 30;
	padding: 6px;
	transition: opacity 0.3s;
}

.info:hover {
	display: block !important; opacity: 1 !important;
	font-size: 16px;
}

#notification { 
	position: fixed; top: 10px; right: 10px; z-index: 9000;
	list-style: none; text-align: right;
}

#notification .hint { display: inline-block; }

.label {
	font-size: 10px; border-radius: 2px; 
	background-color: #666; color: #eee;
	padding: 4px; margin: 0 2px;
	font-weight: bold;
}

.label-success {
	background-color: #5cb85c;
}

.pull-right { float: right; }

/*
 * core.workspace
 */
#workspace {
	position: absolute; 
	top: 0; left:0; bottom: 0; right: 0;
	transition: right 0.2s;
}

#workspace > div { 
	min-height: 100px;
	border: 0;
	font-size: 16px;

	transition: height 0.2s, width 0.2s, left 0.2s, top 0.2s;
	position: absolute;
	box-sizing: border-box;
}

.panel {
	color: #eee; padding: 12px;
	outline: 0 solid #eee;
	overflow: hidden;
}

.focus {
	animation-duration: 0.5s;
	animation-name: focus;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: focus;
	-moz-animation-duration: 0.5s;
	-moz-animation-name: focus;
}

@keyframes hover {
	0% { filter: brightness(100%); -webkit-filter: brightness(100%); -moz-filter: brightness(100%); }
	100% { filter: brightness(130%); -webkit-filter: brightness(130%); -moz-filter: brightness(130%); }
}

@keyframes focus {
	10% { filter: brightness(150%); -webkit-filter: brightness(150%); -moz-filter: brightness(150%); }
	100% { filter: brightness(100%); -webkit-filter: brightness(100%); -moz-filter: brightness(100%); }
}

@-webkit-keyframes focus {
	10% { -webkit-filter: brightness(150%); }
	100% { -webkit-filter: brightness(100%); }
}

@-moz-keyframes focus {
	10% { -moz-filter: brightness(150%); }
	100% { -moz-filter: brightness(100%); }
}

/*
 * core.bar
 */
#command, #search { 
	display: none; position: fixed; 
	left: 0; bottom: 0; right: 0; color: #eee;
	width: 100%; height: 24px; border: 0; 
	z-index: 10; outline: none; font-family: monospace;
	border-radius: 0;
	font-size: 16px;
	padding: 1px 0;
}

#search { 
	background-color: rgb(142, 68, 173);
	background-color: rgba(142, 68, 173, 0.7);
}

/*
 *
 * core.source.js - hints
 *
 */
.editor-hint-gutter { width: 100%; position: absolute; left: 0; }
.editor-hint { position: absolute; width: 100%; height: 100%; opacity: 0.5; }

.CodeMirror {
	text-rendering: optimizeLegibility;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;

	overflow: hidden !important;
}

.CodeMirror-scroll {
	margin-bottom: 0;
}

.CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
	background-color: rgba(255, 0, 0, 0.5);
	border-left: 0 !important;
}

.CodeMirror-gutters {
	border-right: 0 !important;
}

div.CodeMirror-cursors { visibility: visible; }

/*
 *
 * core.folder.js
 * 
 */
.icon {
	display: inline-block; margin: 0 2px; padding-top: 4px; color: #ccc;
	text-decoration: none;
}

.icon:hover { color: #fff; }
.icon:focus { color: #fff; outline: 1px solid #ccc; }

.item {
	box-sizing: border-box;
	font-size: 12px;
	transition: width 0.2s, opacity 0.2s, background-color 0.2s;
	padding: 4px;
	margin-bottom: 8px;
	width: 100%;
	border-right: 0;
	display: block;
	text-decoration: none;
	color: #eee;
	text-align: left;
	background-color: rgba(117, 117, 117, 0.5);
	border: 1px solid #424242;
	cursor: pointer;
}

.item pre { white-space: pre-wrap; }
.item kbd { float: right; }
.item code { margin-right: 10px; display: inline-block; }
.item h4 {
	font-size: 14px;
	margin: 0;
	padding: 8px 4px 4px 4px;
	word-wrap: break-word;
}

.item.log { background-color: rgba(52, 152, 219, 0.5); }
.item.error, .error { background-color: rgba(231, 76, 60, 0.8); }
.item.warn, .warn { background-color: rgba(241, 196, 15, 0.8); color: #333; }

.item > img.primary { 
	float: left; margin-right: 14px;
	width: 32px; height: 32px;
}
.item:hover {
	background-color: rgba(170, 170, 170, 0.5);
}

.directory h4::after {
	content: '/';	
}

/*
 *
 * core.welcome.js
 *
 */
.project {
	background-color: rgba(41, 128, 185, 0.8);
}
.project:hover {
	background-color: rgba(71, 158, 215, 0.9);
}

#welcome { 
	position: fixed; top: 50px; left: 50px; color: #999;
	transition: opacity 0.2s; opacity: 0;
}

/*
 *
 * core.assist.js
 *
 */
#assist {
	display: none; position: fixed; right: 0; width: 0;
	transition: width 0.2s; padding: 8px; box-sizing: border-box;
	overflow-y: hidden; bottom: 0; top: 0;
}
#assist.assist-show { display: block; width: 300px; }
#workspace.assist-show { right: 300px; }

#assist > ul { position: static; padding: 0; margin: 0; }

