
<script id="tpl-file" type="text/template">
<div class="file">
	<a tabindex="0" class="content" title="<%= path + '/' + file%>" data-path="<%=path + '/' + file%>">
		<h4><%- file %></h4>
	</a>
</div>
</script>

<script id="tpl-grep" type="text/template">
<% 
	var m = path.exec(file);
%>
<% if (m && m[0] && (!ignore || !ignore.test(m[1]))) { %>
<div class="file">
	<a class="content" data-path="<%= m[1] %>" data-line="<%=m[2]%>">
		<strong><%- m[1]%></strong>:<%= m[2] %>
		<pre><%- m[3] %></pre>
	</a>
</div>
<% } %>
</script>

<script id="tpl-filelist" type="text/template">
<h3><%= title %></h3>
<div class="filelist-content"></div>
</script>
	
<script id="tpl-project" type="text/template">
<% _.each(projects, function(p) { %>
<div class="project">
	<a class="content" href="javascript:" data-path="<%=p.path%>">
		<h3>
			<% if (p.is_git) { %>
				<span class="label label-success">git</span>
			<% } %>
			<% if (p.package) { %>
				<span class="label">npm</span>
			<% } %>
			<% if (p.project) { %>
				<span class="label">ide</span>
			<% } %>
			<%= p.path %>
		</h3>
		<p>
			<%= p.package ? p.package.description : '' %>
		</p>
	</a>
</div>
<% }); %>
</script>	
