
<script id="tpl-file" type="text/template">
<div class="file <%= obj.directory ? 'directory' : '' %>">
	<button class="content" title="<%= this.path + obj.filename %>" data-path="<%= this.path + obj.filename %>">
		<h4><%- obj.filename %></h4>
	</button>
</div>
</script>

<script id="tpl-debug" type="text/template">
<div class="file">
	<button class="content" style="line-height: 32px" data-id="<%= obj.id %>">
		<img class="primary" src="<%= obj.faviconUrl %>" />
		<%- obj.title %>
	</button>
</div>
</script>

<script id="tpl-grep" type="text/template">
<div class="file">
	<button class="content" data-path="<%= obj[1] %>" data-line="<%= obj[2]%>">
		<strong><%- obj[1]%></strong>:<%= obj[2] %>
		<pre><%- obj[3] %></pre>
	</button>
</div>
</script>

<script id="tpl-filelist" type="text/template">
<h3><%= title %></h3>
<div class="filelist-content"></div>
</script>

<script id="tpl-plugins" type="text/template">
<div class="file">
	<div tabindex="0" class="content">
		<button class="pull-right" type="button">
			<%= obj.installed ? 'Uninstall' : 'Install' %>
		</button>
		<% if (obj.installed) { %>
			<button class="pull-right" type="button">
				<%= obj.enabled ? 'Disable' : 'Enable' %>
			</button>
		<% } %>
		<h4><%- obj.name %> <small><%- obj.version %></small></h4>
		<p><%- obj.description %></p>
	</div>
</div>
</script>
	
<script id="tpl-project" type="text/template">
<div class="file project">
	<button class="content" data-path="<%=obj.path%>">
		<% _.each(obj.tags, function(v, t) { if (v) { %>
		<span class="pull-right label"><%=t%></span>
		<% } }) %>
		<h4><%= obj.path %> &nbsp;<small><%=obj.version%></small></h4>
		<% if (obj.description) { %>
		<pre><%= obj.description %></pre>
		<% } %>
		<div>
		<span class="pull-right"><%=obj.license%></span>
		<% _.each(obj.links, function(l) { %>
		<a target="_blank" class="link" href="<%=l.l%>"><i class="fa fa-<%=l.c%>"></i></a>
		<% }) %>
		</div>
	</button>
</div>
</script>	

<script id="tpl/login" type="text/template">
<form &="submit(submit)">
	<label>Username</label>
	<input &="stop(keydown)" name="username" />
	
	<label>Password</label>
	<input &="stop(keydown)" name="password" type="password" />
	
	<button type="submit">Submit</button>
</form>
</script>
