<script id="tpl-editor-list" type="text/template">
<h3><a href="#" &="click(quit)" class="pull-right icon">&times;</a><span &="html::const(title)"></span></h3>
<div &="$$list" class="list-content"></div>
</script>

<script id="tpl-editor-item" type="text/template">
<div class="item <%= obj.className %>">
	<button data-id="<%= obj.id %>" class="item-content" title="<%= obj.title %>">
		<h4><%- obj.title %></h4>
	</button>
</div>
</script>

<script id="tpl-file" type="text/template">
<div class="item <%= obj.directory ? 'directory' : 'file' %>">
	<button class="item-content" title="<%= obj.filename %>" data-id="<%= obj.id %>">
		<h4><%- obj.filename %></h4>
	</button>
</div>
</script>

<script id="tpl-debug" type="text/template">
<div class="file">
	<button class="content" style="line-height: 32px" data-id="<%= obj.id %>">
		<img class="primary" src="<%= obj.faviconUrl %>" />
		<%- obj.title %>
	</button>
</div>
</script>

<script id="tpl-plugins" type="text/template">
<div class="item">
	<div tabindex="0" class="item-content">
		<% if (obj.installed) { %>
			<span class="label pull-right">
				<%= obj.enabled ? 'ENABLED' : 'INSTALLED' %>
			</span>
		<% } %>
		<h4><%- obj.name %> <small><%- obj.version %></small></h4>
		<% if (obj.description) { %><pre><%- obj.description %></pre><% } %>

	</div>
</div>
</script>
	
<script id="tpl-project" type="text/template">
<div class="item project">
	<button class="item-content" data-id="<%=obj.id%>">
		<% _.each(obj.tags, function(v, t) { if (v) { %>
		<span class="pull-right label"><%=t%></span>
		<% } }) %>
		<h4><%= obj.path %> &nbsp;<small><%=obj.version%></small></h4>
		<% if (obj.description) { %>
		<pre><%= obj.description %></pre>
		<% } %>
		<div>
		<span class="pull-right icon"><%=obj.license%></span>
		<% _.each(obj.links, function(l) { %>
		<a title="<%=l.title%>" target="_blank" class="icon" href="<%=l.href%>"><i class="fa fa-<%=l.class%>"></i></a>
		<% }) %>
		</div>
	</button>
</div>
</script>	

<script id="tpl-login" type="text/template">
<form &="submit(submit)">
	<label>Username</label>
	<input &="stop(keydown)" name="username" />
	
	<label>Password</label>
	<input &="stop(keydown)" name="password" type="password" />
	
	<button type="submit">Submit</button>
</form>
</script>

<script id="tpl-welcome" type="text/template">
	<h1 id="title">workspace<small> <%=ide.version%></small></h1>
	<p>Type <kbd><%=exKey%></kbd> to enter commands or <kbd><%=assistKey%></kbd>
	for the assist window.</p>
	<h2 id="subtitle"><%=project%></h2>
</script>

<script id="tpl-assist" type="text/template">
	<div &="$$hints" class="assist-hints"></div>
</script>