<!DOCTYPE html>
<html>
<head>
	<link href="build/ide.css" rel="stylesheet" />
	<script src="build/tern.js"></script>
	<script src="build/libs.js"></script>
	<script src="build/debug.js"></script>
</head>
<body>
	<h1>ide.js</h1>
	<h2 id="version"></h2>
	<div id="mask">Loading...</div>
	<div id="info" class="ide-popup"></div>
	<div id="workspace"></div>
	<div id="projects"></div>
	


<script id="tpl-files" type="text/template">
<p>Files: <%= files.length %></p>
<% _.each(files, function(path) { %>
<div class="file">
	<a class="content" href="javascript:" title="<%=path%>" data-path="<%=path%>">
		<h4><%= path %></h4>
	</a>
</div>
<% }) %>
</script>
	
<script id="tpl-project" type="text/template">
<div class="project">
	<a class="content" href="javascript:" data-path="<%=path%>">
		<h3>
			<% if (is_git) { %>
				<span class="label label-success">git</span>
			<% } %>
			<% if (package) { %>
				<span class="label">npm</span>
			<% } %>
			<% if (project) { %>
				<span class="label">ide</span>
			<% } %>
			<%= path %>
		</h3>
		<p>
			<%= package ? package.description : '' %>
		</p>
	</a>
</div>
</script>	
