
body {
	background-color: #7F8C8D; padding: 0;
}

#workspace {
	position: absolute; 
	top: 50px; left:0; bottom: 0; right: 0;
}

#workspace > div { 
	border-radius: 8px;
	min-height: 100px; border: 6px solid transparent;

	transition: height 0.3s;
}

#project {
	background-color: rgba(41, 128, 185, 0.6);
}

#command, #search { 
	display: none; position: absolute; 
	left: 0; bottom: 0; right: 0; color: #eee;
	height: 24px; border: 0; 
	background-color: rgba(44, 62, 80, 0.6);
	z-index: 10; outline: none; font-family: monospace;
	border-radius: 0; padding: 1px 0;
}
#search { 
	background-color: rgba(142, 68, 173, 0.6);
}

#info { 
	float: right;
}
#mask { 
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.5); font: 20px Verdana;
	color: #eee; text-align: center; line-height: 100%;
	z-index: 20;
}

/* EDITOR STYLES */
.ace_gutter { border-radius: 8px 0 0 8px; }
.ace_scrollbar { border-radius: 0 8px 8px 0; }
