.cm-s-workspace.CodeMirror { background: #000000; color: #00FF00; }
.cm-s-workspace div.CodeMirror-selected { background: #2D2D2D !important; }
.cm-s-workspace .CodeMirror-line::selection, .cm-s-workspace .CodeMirror-line > span::selection, .cm-s-workspace .CodeMirror-line > span > span::selection { background: rgba(45, 45, 45, 0.99); }
.cm-s-workspace .CodeMirror-line::-moz-selection, .cm-s-workspace .CodeMirror-line > span::-moz-selection, .cm-s-workspace .CodeMirror-line > span > span::-moz-selection { background: rgba(45, 45, 45, 0.99); }
.cm-s-workspace .CodeMirror-gutters { background: #060; border-right: 2px solid #00FF00; }
.cm-s-workspace .CodeMirror-guttermarker { color: #0f0; }
.cm-s-workspace .CodeMirror-guttermarker-subtle { color: white; }
.cm-s-workspace .CodeMirror-linenumber { color: #FFFFFF; }
.cm-s-workspace .CodeMirror-cursor { border-left: 1px solid #00FF00 !important; }

.cm-s-workspace span.cm-keyword {color: #008803; font-weight: bold;}
.cm-s-workspace span.cm-atom {color: #3FF;}
.cm-s-workspace span.cm-number {color: #FFB94F;}
.cm-s-workspace span.cm-def {color: #99C;}
.cm-s-workspace span.cm-variable {color: #F6C;}
.cm-s-workspace span.cm-variable-2 {color: #C6F;}
.cm-s-workspace span.cm-variable-3 {color: #96F;}
.cm-s-workspace span.cm-property {color: #62FFA0;}
.cm-s-workspace span.cm-operator {color: #999}
.cm-s-workspace span.cm-comment {color: #CCCCCC;}
.cm-s-workspace span.cm-string {color: #39C;}
.cm-s-workspace span.cm-meta {color: #C9F;}
.cm-s-workspace span.cm-qualifier {color: #FFF700;}
.cm-s-workspace span.cm-builtin {color: #30a;}
.cm-s-workspace span.cm-bracket {color: #cc7;}
.cm-s-workspace span.cm-tag {color: #FFBD40;}
.cm-s-workspace span.cm-attribute {color: #FFF700;}
.cm-s-workspace span.cm-error {color: #FF0000;}

.cm-s-workspace .CodeMirror-activeline-background {background: #040;}

#command { background-color: rgba(00, 106, 00, 0.6); }
#search { background-color: rgba(142, 68, 173, 0.7); }