.cm-s-workspace.CodeMirror { background: #141414; color: #f7f7f7; } /**/
.cm-s-workspace .CodeMirror-selected { background: #323232 !important; } /**/
.cm-s-workspace .CodeMirror-line::selection, .cm-s-workspace .CodeMirror-line > span::selection, .cm-s-workspace .CodeMirror-line > span > span::selection { background: rgba(50, 50, 50, 0.99); }
.cm-s-workspace .CodeMirror-line::-moz-selection, .cm-s-workspace .CodeMirror-line > span::-moz-selection, .cm-s-workspace .CodeMirror-line > span > span::-moz-selection { background: rgba(50, 50, 50, 0.99); }

.cm-s-workspace .CodeMirror-gutters { background: #222; border-right: 1px solid #aaa; }
.cm-s-workspace .CodeMirror-guttermarker { color: white; }
.cm-s-workspace .CodeMirror-guttermarker-subtle { color: #aaa; }
.cm-s-workspace .CodeMirror-linenumber { color: #aaa; }
.cm-s-workspace .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-workspace .cm-keyword {  color: #f9ee98; } /**/
.cm-s-workspace .cm-atom { color: #FC0; }
.cm-s-workspace .cm-number { color:  #ca7841; } /**/
.cm-s-workspace .cm-def { color: #8DA6CE; }
.cm-s-workspace span.cm-variable-2, .cm-s-workspace span.cm-tag { color: #607392; } /**/
.cm-s-workspace span.cm-variable-3, .cm-s-workspace span.cm-def { color: #607392; } /**/
.cm-s-workspace .cm-operator { color: #cda869; } /**/
.cm-s-workspace .cm-comment { color:#777; font-style:italic; font-weight:normal; } /**/
.cm-s-workspace .cm-string { color:#8f9d6a; font-style:italic; } /**/
.cm-s-workspace .cm-string-2 { color:#bd6b18 } /*?*/
.cm-s-workspace .cm-meta { background-color:#141414; color:#f7f7f7; } /*?*/
.cm-s-workspace .cm-builtin { color: #cda869; } /*?*/
.cm-s-workspace .cm-tag { color: #997643; } /**/
.cm-s-workspace .cm-attribute { color: #d6bb6d; } /*?*/
.cm-s-workspace .cm-header { color: #FF6400; }
.cm-s-workspace .cm-hr { color: #AEAEAE; }
.cm-s-workspace .cm-link {   color:#ad9361; font-style:italic; text-decoration:none; } /**/
.cm-s-workspace .cm-error { border-bottom: 1px solid red; }

.cm-s-workspace .CodeMirror-activeline-background {background: #27282E }
.cm-s-workspace .CodeMirror-matchingbracket {outline:1px solid grey; color:white; }

#workspace > div:nth-child(1), .bg0 { background-color: #141414; }
#workspace > div:nth-child(2), .bg1 { background-color: #263238; }
#workspace > div:nth-child(3) { background-color: #002010; }
#workspace > div:nth-child(4) { background-color: #002024; }
#workspace > div:nth-child(5) { background-color: #010062; }

#command { background-color: rgba(44, 62, 80, 0.7); }
#search { background-color: rgba(142, 68, 173, 0.7); }

